@inherits ViewPage<WebCourse>
@{
    ViewBag.Title = Model.Course.CourseName;
}
<link href="/Scripts/lib/codemirror.css" rel="stylesheet" />
<link href="/Scripts/lib/theme/ambiance.css" rel="stylesheet" />
<link href="/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script src="/Scripts/lib/codemirror.js" type="text/javascript"></script>
<script src="/Scripts/jquery-1.8.2.js" type="text/javascript"></script>
<script src="/Scripts/lib/mode/clike/clike.js" type="text/javascript"></script>
<script src="/Scripts/jquery-ui-1.9.0.js"></script>
<script src="/Scripts/knockout-2.2.0.js"></script>
@{
    if (Model.CurrentLevelNo == default(int))
    {
        <h1>@Model.Course.CourseName</h1>
        <a href="/levels/@Model.Course.Id/1">Start the course</a>
    }

    else if (Model.CurrentChallengeNo == default(int))
    {
        <div align="center">
            <iframe src="@Model.CurrentLevel.LevelVideoUri" width="800" 
                    height="600" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <br />
            <a  href="/challenges/@Model.Course.Id/@Model.CurrentLevelNo/1">Challenges</a>
        </div>
    }

    else
    {
        <div id="tabs">
            <p>@Model.CurrentChallenge.Instructions</p>
            <ul>
                @{
                    foreach (var codeFile in Model.CurrentChallenge.CodeFiles)
                    {
                        <li><a href="#tabs-@codeFile.Order">@codeFile.FileName@(codeFile.Editable ? "" : " [read-only]")</a></li>
                    }
                }
            </ul>
            @{
                foreach (var codeFile in Model.CurrentChallenge.CodeFiles)
                {
                    <div id="tabs-@codeFile.Order"><textarea data-editable="@codeFile.Editable">@codeFile.InitialText</textarea></div>
                }
            }
        </div>
        <input type="submit" value="Submit" id="submitChallenge"/>
        <label id="errorMessage"></label>

        <script type="text/javascript">
            $(function() {
                var userCodeFiles = new Array();

                $('textarea').each(function(index, textArea) {
                    var code = CodeMirror.fromTextArea(textArea, {
                        mode: "text/x-csharp",
                        lineNumbers: true,
                        matchBrackets: true,
                        theme: "ambiance",
                        readOnly: $(textArea).data('editable').toLowerCase() == "false"
                    });

                    if ($(textArea).data('editable').toLowerCase() == "true") {
                        userCodeFiles.push(code);
                    }
                });

                $("#tabs").tabs();

                $("input[type=submit], a, button")
                    .button();
                    //.click(function(event) {
                    //    event.preventDefault();
                    //});


                $('#submitChallenge').click(function(event) {
                    var codeFiles = new Array();

                    userCodeFiles.forEach(function(code) {
                        codeFiles.push(code.getValue());
                    });

                    $.ajax({
                        type: "POST",
                        url: "@Request.RawUrl",
                        data: JSON.stringify({ UserCode: codeFiles }),
                        contentType: "application/json; charset=utf-8",
                        success: function (data, status) {
                            $('#errorMessage').text(data.Message);
                            if (data.Message == '') alert('Yay.. success');
                        },
                        failure: function (errMsg) {
                            alert(errMsg);
                        }
                    });
                });
            });
        </script>
    }
}